.pms-landing-page-parent-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pms-landing-page-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #313131;
  border-radius: 0.375rem;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  width: 60%;
  padding: 1rem;
}

.pms-landing-page-heading-container p {
  width: 80%;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 100;
}

.pms-landing-page-options-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 2rem;
  width: 100%;
}

.pms-landing-page-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  gap: 1rem;
  top: 0px;
  position: relative;
  background-color: #fff;
  border-radius: 0.375rem;
  padding: 1rem 1rem;
  margin: 1rem;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: #f2f8f9;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #b1c5f7;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
}

.pms-landing-page-add-user-logo,
.pms-landing-page-user-list-logo {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 767px) {
  .pms-landing-page-heading-container {
    width: 60%;
  }
  .pms-landing-page-heading-container h2 {
    font-size: 1.4rem;
  }
  .pms-landing-page-heading-container p {
    font-size: 0.8rem;
  }

  .pms-landing-page-card-container {
    &:before {
      content: "";
      height: 20px;
      width: 20px;
    }
  }

  .pms-landing-page-add-user-logo,
  .pms-landing-page-user-list-logo {
    width: 3rem;
    height: 3rem;
  }

  .pms-landing-page-add-user-paragraph,
  .pms-landing-page-user-list-paragraph {
    font-size: small;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .pms-landing-page-heading-container {
    width: 70%;
  }
  .pms-landing-page-heading-container h2 {
    font-size: 0.9rem;
  }
  .pms-landing-page-heading-container p {
    margin-top: 10px;
    font-size: 0.5rem;
  }

  .pms-landing-page-card-container {
    flex-direction: column;
    &:before {
      content: "";
      height: 20px;
      width: 20px;
    }
  }

  .pms-landing-page-add-user-logo,
  .pms-landing-page-user-list-logo {
    width: 2.3rem;
    height: 2.3rem;
  }

  .pms-landing-page-add-user-paragraph,
  .pms-landing-page-user-list-paragraph {
    font-size: 0.7rem;
  }
}
